<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Repülőtársaság</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='stylesheet' href='/style.css' content="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body sec:authorize="isAuthenticated()"  style="background: #34495e; color:white;">

<header>
  <nav>
    <div class="navbar">
      <a href="/index">Kezdőlap</a>
      <a href="/jarat_kereso">Járat Kereső</a>
      <a href="/akciok">Akciók</a>
      <a sec:authorize="isAuthenticated()" href="/arany_kartya">Aranykártya</a>
      <a href="/rolunk"  sec:authorize="!hasAuthority('ROLE_ADMIN')">Rólunk</a>
      <a sec:authorize="isAuthenticated()" href="/rendeles">Rendelések</a>
      <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/jaratok_kezelese">Járatok Kezelése</a>
      <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/gepek_kezelese">Gépek Kezelése</a>
      <a sec:authorize="hasAuthority('ROLE_ADMIN')"  href="/repterek_kezelese">Repterek Kezelése</a>
      <a sec:authorize="!isAuthenticated()" href="/register">Regisztráció</a>
      <a sec:authorize="!isAuthenticated()" href="/login">Belépés</a>
      <a sec:authorize="isAuthenticated()"  href="/fiokom">Fiókom</a>
      <a sec:authorize="isAuthenticated()"  href="/logout">Kilépés</a>

      <!--            <a href="#">Kezdőlap</a>-->
      <!--            <a href="#">Járat kereső</a>-->
      <!--            <a href="#">Akciók</a>-->
      <!--            <a href="#">Aranykártya</a>-->
      <!--            <a href="#">Rólunk</a>-->
      <!--            <a href="#">Járatok kezelése</a>-->
      <!--            <a href="#">Gépek kezelése</a>-->
      <!--            <a href="#">Repterek kezelése</a>-->
      <!--            <a href="#">Rendelések</a>-->
      <!--            <a href="#">Kilépés</a>-->
      <div class="animation start-repterekKezelese"></div>
      <span></span>

    </div>
  </nav>
</header>

<div class="search-area" style="margin-top: 100px;">
  <div class="search-form">
    <h2>Jegy vásárlás</h2>
    <form action="#" th:action="@{/createJegy}" method="post" class="search-form">

      <input type="text" name="nev" id="nev" class="form-control" placeholder="Jegyen szereplő név" required>
      <label for="pluszCsomag">Kér-e pluszcsomgot amit feladhat?</label>
      <input type="checkbox" name="pluszCsomag" id="pluszCsomag" class="form-control" th:checked="${pluszCsomag}">
      <input type="hidden" name="jaratId" id="jaratId" class="form-control" th:value="${id}">
      <input type="submit" value="Vásárlás" class="btn btn-success details">
    </form>
  </div>
</div>
</body>
</html>
